.btn{
  border-radius:2px;

  &.btn-plain{
    background:none;
    padding:0;
    color:$brand-primary;

    &:hover{
      color:darken($brand-primary,10);
    }
    &:active,&:focus{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline:none;
    }
  }

  &.btn-round{
    border-radius:50%;
    &.btn-xs{
      width:22px;
      height:22px;
    }
  }
}

.btn-offset{
  margin-bottom: 5px;
}

.btn-primary {
  background: #4d0066;
  opacity: 0.9;
  border: #45005b;
}
.btn-primary:hover {
  background: #4d0066;
  opacity: 1;
  border: #45005b;
}

a {
  color: #4d0066;
}

a:hover {
  color: #45005b;
}

.black:hover {
  background: #f15c4d !important;
}